/* Media query for most mobile device screens */
@media screen and (max-width: 900px) {
  #testimonials-content {
    width: 66.66% !important;
  }
  #contact-form {
    width: 66.66% !important;
  }
}

/* Media query for wide viewports */
@media screen and (min-width: 1920px) {
  #testimonials-content {
    max-width: 16.66% !important;
  }
  #services-content {
    max-width: 33.33% !important;
  }
  #contact-form {
    width: 16.66% !important;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.App {
  margin: 0;
  text-align: center;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: #ECF6FE;
}

/* Header */

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: calc(2.5em + 80px);
}
h1 {
  margin: 0;
  background-color: #001E3D;
  border-bottom: black solid 5px;
}
.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px 0 5px;
  text-decoration: none;
  height: 2.5em;
  color: white;
}
.nav-button:visited {
  color: white;
}
.nav-button:hover {
  background-color: #2C455F;
}
.nav-button:active {
  background-color: #2C455F;
}
#logo {
  margin: 0;
  height: auto;
  padding-top: 10px;
  padding-bottom: 5px;
}
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  background-color: #17324F;
  height: 2.5em;
  border-bottom: black solid 5px;
}

/* Content */

.content-section {
  margin-bottom: 0;
  padding-top: 5px;
  scroll-margin-top: calc(2.5em + 75px + 5px);
}
.line {
  margin: auto;
  height: 0px;
  width: 33.33%;
  border-bottom: solid #2C455F 5px;
}
.loose-text-wrapper {
  display: flex;
  justify-content: center;
}
.loose-text {
  max-width: 66.66%;
  text-align: center;
}
#content {
  padding-top: calc(2.5em + 80px);
}
#about, #testimonials, #services {
  min-height: calc(100vh - (2.5em + 80px));
  padding-bottom: 25px;
}

/* About */

.logo {
  width: 66.66%;
  height: auto;
  max-width: 450px;
  height: auto;
}
#about-content-wrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 25px;
  justify-content: center;
  margin: 25px 0 0 0;
}
#about-text {
  grid-column: 1/2;
  text-align: left;
  padding: 0 0 0 50px;
}
#about-logos {
  grid-column: 2/2;
  display: grid;
  gap: 25px;
}
#about-logos > img {
  margin: auto;
}

/* Testimonials */

.testimonial {
  z-index: 0;
  text-align: left;
  height: 100%;
  word-break: break-word;
  min-width: 0;
}
.testimonial-line-wrapper {
  flex-basis: 100%;
}
.testimonial-line {
  margin: auto;
  height: 0px;
  width: 33.33%;
  flex-basis: 100%;
  border-bottom: solid #F4B942 3px;
}
.testimonial-button {
  cursor: pointer;
}
#testimonials-content-wrapper {
  width: 100%;
  height: 75vh;
  padding-top: 25px;
}
#testimonials-content-quote {
  float: left;
  z-index: 1;
  padding: 0 15px 0 0;
  font-size: 4rem;
  background-color: #FFFFFF;
}
#testimonials-content {
  width: 33.33%;
  height: 66.66%;
  margin: auto;
  padding: 0 5px 0 5px;
  overflow: hidden;
  border: solid #0090C1 5px;
  border-radius: 1em;
  background-color: #FFFFFF;
}
#testimonial-wrapper {
  /* desired height minus total vertical padding and border */
  height: calc(90% - (20px + 10px));
  padding: 10px;
  margin: 0;
}
#testimonial-text {
  /* desired height minus total vertical padding */
  height: calc(90% - 16px - 32px);
  padding: 0 0 16px 0;
  margin: 0;
}
#testimonial-author {
  height: 10%;
  text-align: center;
}
#testimonials-controls {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;
}
#arrow-left {
  margin-right: 25%;
}

/* Services */

.service {
  flex-basis: 40%;
  flex-grow: 1;
  text-align: left;
  padding: 0 50px 50px 0;
  word-break: break-word;
}
#services-content-wrapper {
  display: flex;
  justify-content: center;
}
#services-content {
  display: flex;
  flex-flow: wrap;
  margin-bottom: 25px;
  padding: 25px 0 25px 50px;
}

/* footer */

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 2.5em;
  border-top: solid black 5px;
  color: #FFFFFF;
  background-color: #17324F;
}
