html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  margin: 0;
  text-align: center;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: #ECF6FE; /* Alice Blue */
}

/* Header */

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 136px;
}
h1 {
  margin: 0;
  background-color: #279AF1; /* Carolina Blue */
  border-bottom: black solid 5px;
}
.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px 0 5px;
  text-decoration: none;
  height: 2.5rem;
  color: black;
}
.nav-button:visited {
  color: black;
}
.nav-button:hover {
  background-color: #FFB703; /* Honey Yellow */
}
.nav-button:active {
  background-color: #FFB703; /* Honey Yellow */
}
#logo {
  margin: 0;
  width: 66%;
  height: auto;
}
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  background-color: #FF961F; /* Yellow Orange Color Wheel */
  height: 2.5rem;
  border-bottom: black solid 5px;
}

/* Content */

.content-section {
  margin: 0;
  padding-top: 5px;
  scroll-margin-top: 136px;
}
.line {
  margin: auto;
  height: 0px;
  width: 33.33%;
  border-bottom: solid #FF961F 5px;
}
#content {
  padding-top: 136px;
}

/* About */

.logo {
  margin: 0;
  width: 100%;
  max-width: 450px;
  height: auto;
}
#about {
  min-height: 100vh;
}

/* Testimonials */

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: wrap;
  flex-basis: 42%;
  padding: 10px;
  word-break: break-word;
  border: solid #3BA3F2 5px;
  /* background-color: #3BA3F2; */
}
.quote-left-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-basis: 100%;
}
.quote-right-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-basis: 100%;
  padding-bottom: 10px;
}
.testimonial-line-wrapper {
  flex-basis: 100%;
}
.testimonial-line {
  margin: auto;
  height: 0px;
  width: 50%;
  flex-basis: 100%;
  border-bottom: solid #3BA3F2 5px;
}
#testimonials {
  min-height: 100vh;
}
#testimonials-content {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  flex-flow: wrap;
  padding-top: 25px;
  gap: 25px;
  width: 100%;
  height: 100%;
}

/* Services */

#services {
}

/* contact */

#contact {
}

/* footer */

#footer {
  margin-top: 5vh;
  height: 2.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
