html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  margin: 0;
  text-align: center;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: #ECF6FE;
}

/* Header */

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 136px;
}
h1 {
  margin: 0;
  background-color: #001E3D;
  border-bottom: black solid 5px;
}
.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px 0 5px;
  text-decoration: none;
  height: 2.5rem;
  color: white;
}
.nav-button:visited {
  color: white;
}
.nav-button:hover {
  background-color: #2C455F;
}
.nav-button:active {
  background-color: #2C455F;
}
#logo {
  margin: 0;
  height: auto;
  padding-top: 10px;
  padding-bottom: 5px;
}
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  background-color: #17324F;
  height: 2.5rem;
  border-bottom: black solid 5px;
}

/* Content */

.content-section {
  margin: 0;
  padding-top: 5px;
  scroll-margin-top: 136px;
}
.line {
  margin: auto;
  height: 0px;
  width: 33.33%;
  border-bottom: solid #2C455F 5px;
}
#content {
  padding-top: 136px;
}

/* About */

.logo {
  margin: 0;
  width: 100%;
  height: auto;
  max-width: 450px;
  height: auto;
}
#about {
  min-height: 100vh;
}

/* Testimonials */

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: wrap;
  flex-basis: 45%;
  flex-grow: 1;
  padding: 10px;
  word-break: break-word;
  border: solid #0090C1 5px;
}
.quote-left-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-basis: 100%;
}
.quote-right-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-basis: 100%;
  padding-bottom: 10px;
}
.testimonial-line-wrapper {
  flex-basis: 100%;
}
.testimonial-line {
  margin: auto;
  height: 0px;
  width: 50%;
  flex-basis: 100%;
  border-bottom: solid #0090C1 5px;
}
#testimonials {
  min-height: 100vh;
}
#testimonials-content {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  flex-flow: wrap;
  padding: 25px 25px 25px 25px;
  gap: 25px;
  max-width: 100%;
  height: 100%;
}

/* Services */

#services {
  min-height: 100vh;
}

/* contact */

#contact {
}

/* footer */

#footer {
  margin-top: 5vh;
  height: 2.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
