header {
  border-bottom: black solid 5px;
}
footer {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 0;
}
.App {
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  padding-bottom: 2.5rem;
}
.navbar {
}
#armstrong-logo {
  width: 50%;
  height: 50%;
}
